* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: "Montserrat", sans-serif;
  background: url("./pollution.jpg");
  background-position: center;
}
.btn {
  border-color: #1a5cc0;
}
.container {
  min-height: 100vh;
}
.form-control,
.form-select {
  border: 1px solid black;
}
label {
  color: black;
  font-weight: bold;
}
.aqi-table {
  display: none;
}
.container a {
  text-align: center;
}
#sensitive-groups,
#health-effects,
#cautionary-statements {
  font-weight: bold;
}
