* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: "Montserrat", sans-serif;
}
.btn-group button {
  border-color: #1a5cc0;
}
.container {
  background-color: rgb(196, 188, 188);
  min-height: 100vh;
}
.form-control,
.form-select {
  border: 1px solid black;
}
label {
  color: black;
  font-weight: bold;
}
.aqi-table {
  display: none;
}
.container a {
  text-align: center;
}
